*.psd filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
.csv filter=lfs diff=lfs merge=lfs -text
ppl.csv filter=lfs diff=lfs merge=lfs -text
crashes.csv filter=lfs diff=lfs merge=lfs -text
